<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huihui.mapper.dao.BlogMapper">
    <insert id="insert" parameterType="HashMap">
        INSERT INTO _blog (title,author_id) VALUES (#{title},#{author_id})
    </insert>
    <resultMap id="baseBlog" type="Blog">
        <id property="id" column="id"></id>
        <result property="title" column="title"></result>
        <association property="author" javaType="Author" >
            <id property="id" column="author_id"></id>
            <result property="username" column="username"></result>
            <result property="password" column="password"></result>
        </association>
    </resultMap>
    <select id="findById" parameterType="HashMap" resultMap="baseBlog">
        SELECT b.*,a.username username,a.password password
        from _blog b join _author a on b.author_id = a.id
        where b.id = #{id}
    </select>

    <select id="findAll" resultMap="baseBlog">
        SELECT * from _blog;
    </select>

    <!--NestedMap,-->
    <resultMap id="nestedMap" type="Blog">
        <id property="id" column="id"></id>
        <result property="title" column="title"></result>
        <association property="author" javaType="Author" >
            <id property="id" column="author_id"></id>
            <result property="username" column="username"></result>
            <result property="password" column="password"></result>
            <!--测试循环内嵌-->
            <association property="blog" resultMap="nestedMap"></association>
        </association>
    </resultMap>
    <!--nestedMap测试sql-->
    <select id="testNestedMap" parameterType="int" resultMap="nestedMap">
        SELECT b.*,a.username username,a.password password
        from _blog b join _author a on b.author_id = a.id
        where b.id = #{id}
    </select>


</mapper>